#specs{
    margin: 25px;
}

#title{
    text-align: center;
    padding: 20px;
}

#writeup img{
    border: black 1px solid;
    width: 100%;
    height: auto;

}

#left img{
    float: left;
}

#right img{
    float: left;
}