/*DEVELOPER: Desimir Berardo, IS117-005, Fall 2020 */
#specs{
    margin: 25px;
    font-family: Arial, sans-serif;
}

#title{
    text-align: center;
    padding: 20px;
}

#writeup img{
    border: black 1px solid;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 16pt;

}

#writeup p{
    font-size: 20px;
}

#left{
    float: left;

}

#right{
    float: right;

}