/*DEVELOPER: Desimir Berardo, IS117-005, Fall 2020 */
.carousel{
    width: 80%;
    height: auto;
    alignment: center;
    margin: auto;
    padding-top: 5em;
}

body{
    background-color: #fffded;
}

.card{
    background-color: #fffddd;
    border: black 1px solid;
}
.form-group{
    margin-top: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}