/*DEVELOPER: Desimir Berardo, IS117-005, Fall 2020 */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: auto;

}
.videoWrapper iframe {
    position: absolute;
    width: 60%;
    height: 60%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

image{
    height: auto;/* was 100% */
    position: relative;
    text-align: center;
    padding:18.75% 0 0;/* create relationship between width and height */
}

#description1 p{
    margin: 25px;
    font-size: 20pt;
}
#description h1{
    margin: 50px 0px;
    text-align: center;
}